.country {
  width: 26.4rem;
  height: 33.6rem;
  background-color: var(--primary-color);
  color: var(--typography-color);
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.country__container {
  width: 264px;
  height: 160px;
}

.country__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country__info {
  padding: 2.4rem;
}

.country__info h4 {
  margin-bottom: 1.2rem;
}

.country__info__name:link,
.country__info__name:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
  color: inherit;
}

.country__info__name:hover,
.country__info__name:active {
  color: var(--background-color);
}

.country__info__name:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

.card__info__container {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__info__detail {
  font-weight: 600;
}
