* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  --background-color: hsl(207, 26%, 17%);
  --primary-color: hsl(209, 23%, 22%);
  --typography-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
}

body.light {
  --background-color: hsl(0, 0%, 98%);
  --primary-color: hsl(0, 0%, 100%);
  --typography-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
